
<h1>Водители</h1>
<hr/>
<testwebapi-cardrivers></testwebapi-cardrivers>
<hr/>
<h1>Автомобиль</h1>
<hr/>
<div>

    <form ng-submit="ctrl.submit()">
        <div class="text-key">Номер</div>
        <div class="text-value"><input class="form-control" type="text" ng-model="ctrl.car.no" placeholder="с123вп177rus"/>
        </div><br/>
        <div class="text-key">Марка</div>
        <div class="text-value"><input class="form-control" type="text" ng-model="ctrl.car.mark" placeholder="БМВ"/>
        </div><br/>
        <div class="text-key">Модель</div>
        <div class="text-value"><input class="form-control" type="text" ng-model="ctrl.car.model" placeholder="Х5"/>
        </div><br/>
        <div class="text-key">Цвет</div>
        <div class="text-value"><input class="form-control" type="text" ng-model="ctrl.car.color" placeholder="белый"/>
        </div><br/>
        <input type="submit" value="Сохранить">
    </form>
    <hr/>
</div>
 

